@using Microsoft.AspNet.Identity;
@model Virtual_Art_Gallery.Models.PriceListModel

@{
    ViewData["Title"] = "Удалить прайс";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить прайс?</h3>
<div class="d-flex align-items-start detail-container">
    <div class="detail-image">
        <img src="@Model.ImagePath" alt="Artwork Image" class="img-fluid" />
    </div>

    <div class="detail-info ms-4">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <p>
            <strong>Автор:</strong>
            <a asp-action="ViewProfile" asp-controller="Profile" asp-route-userId="@Model.CreatorId">
                @Model.Creator?.UserName
            </a>
        </p>
        <p><strong>Цена:</strong> @Model.Price ₽</p>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @if (User.Identity.GetUserId() == Model.CreatorId)
            {
                <a class="nav-link" asp-controller="Profile" asp-action="ViewProfile">
                    Вернуться к прайсам
                </a>
            }
            else
            {
                <a class="nav-link" asp-controller="Profile" asp-action="ProfilePrices" asp-route-userId="@Model.CreatorId">
                    Вернуться к прайсам
                </a>
            }
    </form>
    </div>
</div>
