@using Microsoft.AspNet.Identity;
@model Virtual_Art_Gallery.Models.ProfileViewModel

<h1>Профиль: @Model.Username</h1>
<p><strong>Email:</strong> @Model.Email</p>

<div class="nav-tabs">
    <a class="nav-link active" asp-action="ViewProfile" asp-route-userId="@Model.Artworks.FirstOrDefault()?.CreatorId">Публикации</a>
    <a class="nav-link" asp-action="ProfileExhibitions" asp-route-userId="@Model.Artworks.FirstOrDefault()?.CreatorId">Выставки</a>
    <a class="nav-link" asp-area="" asp-controller="PriceList" asp-action="Index">Прайсы</a>
</div>


<h2>Публикации</h2>
@if (Model.Artworks.Any())
{
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        @foreach (var artwork in Model.Artworks)
        {
            <div style="border: 1px solid #ccc; padding: 15px; border-radius: 10px; width: 300px; text-align: center;">

                @if (!string.IsNullOrEmpty(artwork.ImagePath))
                {
                    <a asp-action="Details" asp-controller="Artwork" asp-route-id="@artwork.Id">
                        <img src="@artwork.ImagePath" alt="@artwork.Title" style="width: 100%; max-height: 200px; object-fit: cover; border-radius: 5px;" />
                    </a>
                    <h3 asp-action="Details" asp-controller="Artwork" asp-route-id="@artwork.Id">
                        <strong>@artwork.Title</strong>
                    </h3>
                }

                <p>Лайки: @artwork.LikeCount</p>
                <p><strong>Просмотров:</strong> @artwork.ViewCount</p>
                <p>Дата: @artwork.DateCreated.ToShortDateString()</p>
            </div>
        }
    </div>
}
else
{
    <p>Нет публикаций.</p>
}
