@model Virtual_Art_Gallery.Models.ArtworkModel

@{
    ViewData["Title"] = "Delete Artwork";
}

<h1>Удаление публикации</h1>

<div>
    <h4>Вы уверены, что хотите удалить эту публикацию?</h4>
    <div>
        <strong>Название:</strong> @Model.Title
    </div>
    <div>
        <strong>Категория:</strong> @Model.Category.Name
    </div>
    <div>
        <strong>Описание:</strong> @Model.Description
    </div>
    <div>
        <img src="@Model.ImagePath" alt="Artwork Image" style="max-width: 300px;" />
    </div>

    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a asp-action="Index" class="btn btn-secondary">Отменить</a>
    </form>
</div>
